<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "JA.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Konrad Pasoń</h1>
		<p>Welcome to my Website</p>
		<p>I am learning Ruby on Rails!</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on GitHub <a target="_blank" href="https://github.com/kondziqq17">kondziqq17</a> or on the <a target="_blank" href="https://www.facebook.com/konrad.pason">Facebook</a>. Also if you want to be in touch, you can email me at <a target="_blank" href="mailto:konrad.pason17@gmail.com">konrad.pason17@gmail.com</a>.</p>
	</div>
</div>